﻿@page "/timesheetreport"
@using System.Globalization
@using Microsoft.EntityFrameworkCore
@using TC.TimeSheet.Web.Data.EF
@using TC.TimeSheet.Web.Models

@inject IJSRuntime JSRuntime
@inject TimesheetEntities _timesheetEntities

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Report mensile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <NavLink href="/">Home</NavLink>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6 mb-1">
                    <select class="form-control" @bind="@SelectedCustomerId">
                            <option selected="@(string.IsNullOrWhiteSpace(_selectedCustomerId))" value="">Seleziona cliente</option>
                            @foreach (var customer in GetCustomerModels())
                            {
                                <option selected="@(_selectedCustomerId == customer.CustomerId)"
                                        value="@customer.CustomerId">
                                    @(customer.CustomerName)
                                </option>
                            }
                        </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" @bind="@SelectedYearMonth">
                                            @foreach (var model in GetMonthYearModels())
                                            {
                                                <option selected="@(_selectedYearMonth == $"{model.Item3}{model.Item1}")"
                                                        value="@($"{model.Item3}{model.Item1}")">
                                                    @($"{model.Item2} {model.Item3}")
                                                </option>
                                            }
                                        </select>
                                        </div>
                                        </div>
                                        </div>
                                        </section>

                                        <!-- Main content -->
                                        <section class="content">
                                            <div class="container-fluid">

                                                <div class="row">
                                                    <div class="col-12">

                                                        <!-- Main content -->
                                                        <div class="invoice p-3 mb-3">
                                                            <!-- title row -->
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <h4>
                                                                        <i class="fas fa-globe"></i> @_selectedCustomerName
                                                                        <small class="float-right">Mese: @_selectedYearMonthLabel</small>
                                                                    </h4>
                                                                </div>
                                                                <!-- /.col -->
                                                            </div>

                                                            <!-- Table row -->
                                                            <div class="row">
                                                                <div class="col-12 table-responsive">
                                                                    <table class="table table-striped">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Data</th>
                                                                            <th>Ore</th>
                                                                            <th>Subtotale</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        @foreach (var model in _timesheetReportModel.ReportModelItems)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @model.Date
                                                                                </td>
                                                                                <td>
                                                                                    @model.Hours
                                                                                </td>
                                                                                <td>
                                                                                    €@model.Amount
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <!-- /.col -->
                                                            </div>
                                                            <!-- /.row -->

                                                            <div class="row">
                                                                <!-- accepted payments column -->
                                                                <div class="col-6">

                                                                </div>
                                                                <!-- /.col -->
                                                                <div class="col-6">
                                                                    <p class="lead">Importo dovuto</p>

                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <tr>
                                                                                <th>Totale:</th>
                                                                                <td>€@_timesheetReportModel.TotalAmount</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- /.col -->
                                                            </div>
                                                            <!-- /.row -->

                                                            @* <div class="row no-print"> *@
                                                            @*     <div class="col-12"> *@
                                                            @*         <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a> *@
                                                            @*         <button type="button" class="btn btn-success float-right"> *@
                                                            @*             <i class="far fa-credit-card"></i> Submit *@
                                                            @*             Payment *@
                                                            @*         </button> *@
                                                            @*         <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;"> *@
                                                            @*             <i class="fas fa-download"></i> Generate PDF *@
                                                            @*         </button> *@
                                                            @*     </div> *@
                                                            @* </div> *@
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        </div>


@code{

    private TimesheetReportModel _timesheetReportModel = new TimesheetReportModel();

    private string SelectedCustomerId
    {
        get => _selectedCustomerId;
        set
        {
            _selectedCustomerId = value;
            _selectedCustomerName = _timesheetEntities.Customers.Find(Guid.Parse(_selectedCustomerId)).Name;
            LoadTimesheetReport();   
        }
    }
    
    private string SelectedYearMonth
    {
        get => _selectedYearMonth;
        set
        {
            _selectedYearMonth = value;
            var date = DateTime.ParseExact(value, "yyyyMM", new CultureInfo("it-IT"));
            _selectedYearMonthLabel = $"{date:MMMM} {date:yyyy}";
            LoadTimesheetReport();   
        }
    }

    private string _selectedCustomerId, _selectedYearMonth, _selectedYearMonthLabel, _selectedCustomerName;

    protected override async void OnInitialized()
    {
        var date = DateTime.Now;
        _selectedYearMonthLabel = $"{DateTimeFormatInfo.CurrentInfo.GetMonthName(date.Month)} {date.Year}";
        _selectedYearMonth = $"{date.Year}{date.Month:00}";

        var customer = _timesheetEntities.Customers.First();
        _selectedCustomerName = customer.Name;
        _selectedCustomerId = customer.Id.ToString();

        await LoadTimesheetReport();
    }

    private IEnumerable<(string CustomerId, string CustomerName)> GetCustomerModels()
    {
        var models = _timesheetEntities.Customers.OrderBy(c => c.Name).ToList()
            .Select(c => (c.Id.ToString(), c.Name));

        return models;
    }

    private List<Tuple<string, string, int>> GetMonthYearModels()
    {
        var months = new List<Tuple<string, string, int>>();
        for (int i = 1; i < 13; i++)
        {
            var date = DateTime.Now.AddMonths((i - 1) * -1);
            months.Add(new Tuple<string, string, int>(date.Month.ToString("00"), DateTimeFormatInfo.CurrentInfo.GetMonthName(date.Month), date.Year));
        }

        return months;
    }

    private async Task LoadTimesheetReport()
    {
        _timesheetReportModel.ReportModelItems.Clear();

        var timesheets = await _timesheetEntities.TimesheetItems.Include(t => t.Customer)
            .Where(c => c.Customer.Id == Guid.Parse(_selectedCustomerId) && c.Date.Contains(_selectedYearMonth)).ToListAsync();

        timesheets = timesheets.OrderBy(t => t.Date).ToList();

        timesheets.ForEach(t =>
        {
            var model = new TimesheetReportModelItem
            {
                Date = DateTime.ParseExact(t.Date, "yyyyMMdd", new CultureInfo("it-IT")).ToLongDateString(),
                Hours = TimeSpan.FromHours((double)t.Hours).ToString(@"hh\:mm"),
                Amount = t.Hours * t.Customer.AmountPerHour
            };

            _timesheetReportModel.ReportModelItems.Add(model);
        });

        StateHasChanged();
    }

}