@using Microsoft.AspNetCore.Components
@using TC.TimeSheet.Web.Data.EF
@using TC.TimeSheet.Web.Data.Entities
@using TC.TimeSheet.Web.Models

@inject IJSRuntime _jsRuntime
@inject TimesheetEntities _timesheetEntities

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Aggiungi cliente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <EditForm Model="@_customerCreateModel" OnValidSubmit="@Save">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nome" @bind-value="@_customerCreateModel.Name"/>
                    </div>
                    <div class="form-group">
                        <input type="number" min="1" max="100" class="form-control" placeholder="Tariffa oraria" @bind-value="@_customerCreateModel.AmountPerHour"/>
                    </div>                   
                    
                </EditForm>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" @onclick="Save">Salva</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@code{

    [Parameter] 
    public EventCallback<string> OnCustomerCreated { get; set; }
    
    private CustomerCreateModel _customerCreateModel;

    protected override async void OnInitialized()
    {
        Cleanup();
    }
    
    private async void Save()
    {
        var customer = new Customer
        {
            Name = _customerCreateModel.Name,
            AmountPerHour = _customerCreateModel.AmountPerHour.Value
        };

        _timesheetEntities.Customers.Add(customer);
        _timesheetEntities.SaveChanges();
        
        await _jsRuntime.InvokeAsync<bool>("closeDialog", "modal-default");

        await OnCustomerCreated.InvokeAsync("s");
        
        Cleanup();
    }

    private void Cleanup()
    {
        _customerCreateModel = new CustomerCreateModel();
        StateHasChanged();
    }

}