@inherits CustomerItemRemoveDialogComponent

<div class="modal fade" id="modal-remove-customer-item">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rimuovi cliente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="callout callout-danger">
                    <dl>
                        <dt>@_customerItemRemoveDialogModel.Name</dt>                        
                    </dl>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-danger" @onclick="@Delete">Rimuovi</button>
            </div>
        </div>

    </div>

</div>