@using System.Globalization
@using Microsoft.AspNetCore.Components
@using Microsoft.EntityFrameworkCore
@using TC.TimeSheet.Web.Data.EF
@using TC.TimeSheet.Web.Models

@inject IJSRuntime _jsRuntime
@inject TimesheetEntities _timesheetEntities

<div class="modal fade" id="modal-remove-timesheet-item">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rimuovi ore</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="callout callout-danger">
                    <dl>
                        <dt>@_timesheetDeleteModel.CustomerName</dt>
                        <dd>@_timesheetDeleteModel.Date</dd>
                        <dd>@(_timesheetDeleteModel.Hours) ore @($"{_timesheetDeleteModel.Minutes} minuti")</dd>
                    </dl>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-danger" @onclick="@Save">Rimuovi</button>
            </div>
        </div>

    </div>

</div>


@code{

    [Parameter]
    public EventCallback<string> OnTimesheetItemRemoved { get; set; }
    
    private string _timesheetItemId { get; set; }

    private TimesheetDeleteModel _timesheetDeleteModel = new TimesheetDeleteModel();
    
    protected override async Task OnInitializedAsync()
    {

    }

    private async void Save()
    {
        var timesheetItem = _timesheetEntities.TimesheetItems.Find(Guid.Parse(_timesheetItemId));

        _timesheetEntities.Remove(timesheetItem);

        _timesheetEntities.SaveChanges();

        await OnTimesheetItemRemoved.InvokeAsync("");

        await _jsRuntime.InvokeAsync<bool>("closeDialog", "modal-remove-timesheet-item");

        await _jsRuntime.InvokeAsync<bool>("toastSuccess", new {Type = "success", Title = $"Ore da {timesheetItem.Customer.Name} rimosse"});
    }

    public async Task OnShown(string timesheetItemId)
    {
        _timesheetItemId = timesheetItemId;
        
        var timesheet = _timesheetEntities.TimesheetItems.Include(t => t.Customer).IgnoreQueryFilters()
            .First(t => t.Id == Guid.Parse(_timesheetItemId));
        
        _timesheetDeleteModel = new TimesheetDeleteModel
        {
            Id = timesheet.Id.ToString(),
            CustomerName = timesheet.Customer.Name,
            Date = DateTime.ParseExact(timesheet.Date, "yyyyMMdd", new CultureInfo("it-IT")).ToLongDateString(),
            Hours = TimeSpan.FromHours((double)timesheet.Hours).ToString("%h"),
            Minutes = TimeSpan.FromHours((double)timesheet.Hours).ToString("%m")
        };
        
    }

}